
.datatable{
    height: 600px;
    padding: 20px;

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus{
        padding: 2px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active{
            
            color: green;
        }

        &.pending{
            color: goldenrod;
           
        }

        &.passive{
      
            color: red;
        }

    }


    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
        padding: 0;
         padding: 2px 5px;
         border-radius: 5px;
         color: darkblue;
         cursor: pointer;
        }

        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            cursor: pointer;
        }
    }
}